{% extends 'dashboard_template/template.html' %}
{% block title %}Signup{% endblock %}
{% block page_content %}
    <div ng-app="signupapp" class="main">
        <div ng-controller="signupcontroller">
            {{ err }}
{#            <form action="{% url 'registeration:signup' %}" method="post">#}
            <form action="" method="post" style="background-color: #438EB9; float: left;">
                {% csrf_token %}
                <fieldset>
                    <label for ="first_name" >{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                    <label for ="last_name" >{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                    <label for="email">{{ form.email.label }}</label>
                    {{ form.email }}
                    <label for="username">{{ form.username.label }}</label>
                    {{ form.username }}
                    <label for="password">{{ form.password.label }}</label>
                    {{ form.password }}
                    <label for= "confirm_password">{{ form.confirm_password.label }}</label>
                    {{ form.confirm_password }}
                </fieldset>
                <button ng-click="signup()" type="submit">Add User</button>
            </form>
        </div>
    </div>
{% endblock %}


